<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Hospital management web app to book & manage appointments, have a consistent patient history.">
    <meta name="author" content="Joham Chouhan | Developer">
    <title>{% block title %}{% endblock %} - MediSync</title>
<link rel="stylesheet" href="{{url_for ( 'static', filename='css/style.css' )}}">
</head>
<body>
<header class="header">
    <div class="logo-container">
        <img src="{{url_for('static', filename='images/medisync_logo.png')}}" alt="logo" class="logo">
        <div class="logo-text">
            <p class="app-name">MediSync</p>
            <p class="slogan">Smart care, simple access</p>
        </div>
    </div>
<nav>
<ul>
<li><a href="{{url_for ( 'login' )}}">Login / Sign in</a>
<li><a href="{{url_for ( 'index' )}}">Home</a></li>
{% block nav %}{%endblock %}
</ul>
</nav>
</header>
<main>
{% block main %}{% endblock %}
</main>
<footer>
<br>
<h2>Contact Details</h2>
<br>
<p>Phone number: 7029191230</p>
<p>Email ID: <a href="#">support@medisync.in</a></p>
<br>
<p>If you encounter any discrepency then mail us @ <a href="#">helpdesk@medisync.in</a></p>
<p>Your query will be resolved within 48 working hours.</p>
<p>Copyright &copy; MediSync 2025, all rights reserved.</p>
</footer>
</body>
</html>