<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Hospital management web app to book & manage appointments, have a consistent patient history.">
    <meta name="author" content="Joham Chouhan | Developer">
    <title>{% block title %}{% endblock %} - MediSync</title>
</head>
<body>
<header>
<img src="#" alt="logo" height="200" width="200">
<p>MediSync</p>
<p></p>
<nav>
<ul>
<li><a href="{{url_for ( 'login' )}}">Login / Sign in</a>
<li><a href="{{url_for ( 'index' )}}">Home</a></li>
{% block nav %}{%endblock %}
</ul>
</nav>
</header>
<main>
{% block main %}{% endblock %}
</main>
<footer>
<p>Phone number: 7029191230</p>
<p>Email ID: <a href="#">support@medisync.in</a></p>
<p>Copyright &copy; MediSync 2025, all rights reserved.</p>
</footer>
</body>
</html>